body {
 margin: 0;
 font-family: 'Baloo 2', cursive;
 /* background: linear-gradient(#87ceeb, #eaf6ff); */
 color: #5a3e2b;
}

/* Header with logo and title */
header {
 background: #f9e2c8;
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 15px 30px;
 border-bottom: 4px solid #e4b48c;
 font-weight: bold;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

/*Navigation bar under header*/
.navbar {
    background: #fff3e0;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #e4b48c;
}

.navbar a {
    text-decoration: none;
    color: #8b4a2b;
    font-weight: bold;
    margin: 0 10px;
}

/*Form styling*/
form {
    text-align: center;
    margin-bottom: 220px;
}

input {
    background-color: #fff8ee;
    border: 1px solid #e4b48c;
    padding: 6px;
    border-radius: 6px;
}

/*Buttons and links*/
a,
button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 14px;
    border-radius: 12px;
    border: none;
    background: #f28c8c;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

button.remove {
    background: #c94c4c;
}

button:hover,
a:hover {
    opacity: 0.85;
}

/*Footer*/
footer {
    background: #f9e2c8;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #e4b48c;
}

img {
    max-width: 60px;
}

.main-section {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.flavor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px;
}

.flavor-card {
    background: #fff8ee;
    border: 2px solid #e4b48c;
    border-radius: 10px;
    padding: 15px;
    width: 180px;
    text-align: center;
    margin: 0 auto;
}

.order-list {
    background: #fff8ee;
    border: 2px solid #e4b48c;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}